@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0.5rem;
}

.header-container {
    width: 100%;
    height: auto;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.right-section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.company-logo {
    width: fit-content;
    height: auto;
}

.company-logo h3 {
    font-size: 1rem;
    font-weight: 600;
}

.link-container {
    width: fit-content;
    height: auto;
}

a {
    color: #645c5c;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    
}

.nav-menu {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}

.get-started-button button {
    width: fit-content;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 1.5rem;
    border: 1px solid;
    cursor: pointer;
}

.container-section {
    width: 100%;
    height: auto;
    background-color: bisque;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image-container {
    width: 36%;
    height: auto;
    background-color: #645c5c;
    padding: 7rem;
    background-image: url("./flower\ image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}