*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 3rem;
}

.first-container {
    width: auto;
    height: auto;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: start;
    align-items: start;
}

.login {
    width: fit-content;
    background-color: azure;
    color: black;
    padding: 1rem;
    border-radius: 0.35rem;
    border-color: azure;
}

.signup {
    width: fit-content;
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    border-radius: 0.43rem;
    border-color: purple;
}

.second-container {
    width: fit-content;
    height: auto;
}

.second-container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: blue;
}