* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    row-gap: 1rem;
}

.second-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
}

.total-container {
    width: 100%;
    height: auto;
    background-color: ghostwhite;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

.text p {
    color: grey;
    font-size: 0.8rem;
    font-weight: 300;
}